li.col-xs-8.col-xs-offset-2.col-sm-4.col-sm-offset-0.col-md-4.col-lg-3(data-id=product._id)
  h4.text-center= product.name
  a.thumbnail(href='/products/' + product._id)
    img.img-rounded.img-responsive(src=product.images.main.path)
  div.row
    div.col-xs-12
      p.text-left= product.description.preview
  div.row
    div.col-xs-12
      p.lead.text-right #{product.pricing.retail}€
