extends layout/base

- var title = 'Ihre Bestellung bei satisfeet';

block content
  div.content
    h2.text-center Ihre Bestellung bei satisfeet
    h3.text-center Rechnungsnummer: #{order.invoice}
    table.table
      thead.text-left
        tr
          th Name
          th Größe
          th Anzahl
          th Stückpreis
          th Gesamtpreis
      tbody.text-left
        each item in order.items
          tr
            td= item.name
            td
              each value, attribute in item.attributes
                #{attribute}: #{value}
            td #{item.pricing.quantity} x
            td #{item.pricing.retail}€
            td #{item.pricing.total}€
    ul.list-unstyled.text-right
      li Zwischensumme: #{order.pricing.retail}€ inkl. MwSt.
      li Versandkosten: #{order.pricing.shipment}€ inkl. MwSt.
      li Gesamtpreis: #{order.pricing.total}€ inkl. MwSt.
    p.text-lg.text-justify
      | Sehr geehrter #{order.payment.forename} #{order.payment.surname}
    p.text-md.text-justify
      | Sie haben vor kurzem eine Bestellung auf 
      a(href='http://www.satisfeet.me') satisfeet
      |  getätigt. Hiermit erhalten Sie Ihre vorläufige Rechnung zu dieser
      | Bestellung. Bitte überweisen sie den in Rechnung gestellten Betrag
      | binnen fünf Werktage an das unten genannte Konto. Geben Sie im
      | Verwendungszwecke bitte Ihren Namen mit Rechnungsnummer an. Wir werden
      | nach Geldeingang Ihre Ware umgehend verschicken und Sie über den
      | Versand informieren. Falls Sie weitere Fragen haben antworten Sie
      | einfach auf diese Email und wir melden uns schnellstmöglich bei Ihnen
      | zurück.
    p.text-lg.text-justify
      | Mit freundlichen Grüßen,
      br
      | Bodo Kaiser
    ul.list-unstyled.text-center
      li Bodo Kaiser
      li IBAN: DE67100900002451723009
      li BIC: BEVODEBB
      li Bank: Berliner Volksbank
      li USt-IdNr: DE291325845
