li.list-group-item
  div.list-group-item-header
    button.close &times;
    a.link-unstyled(href='/products/' + item._id)
      h4.text-left= item.name
      h5.text-left= item.description.preview
  div.list-group-item-text
    div.row
      div.col-xs-8
        ul.list-inline
          each attribute, name in item.attributes
            li: small.text-muted #{name}: #{attribute}
      div.col-xs-4
        form.form-horizontal
          div.form-group
            div.col-xs-6
              input.input-sm.form-control(id='pricing-quantity',
              name='pricing-quantity', type='number',
              value=item.pricing.quantity, min='1')
            div.col-md-5
              label.control-label.pull-right x #{item.pricing.retail}€
