include ../mixins/control
include ../mixins/progress

section#order-shipment
  div.row
    div.col-xs-8.col-xs-offset-2
      h4.text-center Versandinformationen
      +progress(50)
  div.row
    div.col-xs-10.col-xs-offset-1.col-md-5.col-md-offset-1
      p.text-justify
        | Aktuell sind nur Lieferungen innerhalb Deutschlands möglich.
        | Standard Versand ist per Deutsche Post Warensendung mit bis zu
        | drei Socken. Falls Sie Ihre Socken möglichst schnell haben möchten
        | sollten Sie eine Lieferung als DHL Maxibrief für bis zu zwei Socken
        | in Betracht ziehen. Falls Ihre Bestellung größer als drei Socken sein
        | sollte, können Sie nur die Lieferung als versichertes DHL Packet
        | auswählen.
    div.col-xs-10.col-xs-offset-1.col-md-5.col-md-offset-0
      - var pricing = (order && order.pricing) || {};
      - var shipment = (order && order.shipment) || {};
      form(role='form' autocomplete='on')
        fieldset
          div.row
            div.col-xs-6
              +control_text('forename', 'Vorname', shipment.forename)(
                placeholder='Max')
            div.col-xs-6
              +control_text('surname', 'Nachname', shipment.surname)(
                placeholder='Mustermann')
          div.row
            div.col-xs-8
              +control_text('street', 'Straße', shipment.street)(
                placeholder='Hauptstr.')
            div.col-xs-4
              +control_text('streetNr', 'Nr.', shipment.streetNr)(
                placeholder='4A')
          div.row
            div.col-xs-6
              +control_number('zipCode', 'Postleitzahl', shipment.zipCode)(
                placeholder='12345', min='10000' max='99999')
            div.col-xs-6
              +control_text('place', 'Ort', shipment.place)(
                placeholder='Berlin')
          div.row
            div.col-xs-12
              label.control-label Versandart
                div.form-group
                  div.radio
                    label
                      input(id='shipping', name='shipping', type='radio',
                        value='2.00', required=true,
                        disabled=pricing.quantity > 4
                        checked=shipment.shipping === '2.00')
                      | Deutsche Post Warensendung (Preis: 2.00€)
                  div.radio
                    label
                      input(id='shipping', name='shipping', type='radio',
                        value='2.40', required=true,
                        disabled=pricing.quantity > 3
                        checked=shipment.shipping === '2.40')
                      | Deutsche Post Maxibrief (Preis: 2.40€)
                  div.radio
                    label
                      input(id='shipping', name='shipping', type='radio',
                        value='4.30', required=true,
                        checked=shipment.shipping === '4.30')
                      | DHL Packet, versichert (Preis: 4.30€)
          button.btn.btn-sm.btn-primary.pull-right Fortfahren
